<div class="">
    <div class="col-12" style="padding: 0;">
        <div class="footer__row">
            <div class="footer container">
                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="footer__about__us">
                        <div class="footer__about__us__header">About Us</div>
                        <div class="footer__about__us__content">
                            <p>What you see above is another page
                            we made here at Zajno for a company
                            who develops open-source software
                            while providing advisory and engineering
                            services to their clients. The guys are
                            passionate
                            about continuous integration</p>
                        </div>
                    </div>
                </div>
            <div class="col-sm-1"></div>
            <div class="col-4 col-sm-3">
                <div class="footer__links">
                    <div class="footer__links__header">Links</div>
                    <div class="footer__links__items">
                        <div><a href=""><i class="fas fa-angle-double-right"></i>Home</a></div>
                        <div><a href="/class-adds"><i class="fas fa-angle-double-right"></i>Classs</a></div>
                        <div><a href="/about-us"><i class="fas fa-angle-double-right"></i>About Us</a></div>
                    </div>
                </div>
            </div>
            <div class="col-8 col-sm-4">
                <div class="footer__last__column">
                    <div class="footer__logo">
                        <img src="{{ Logo_Footer }}" alt="logo">
                    </div>
                    <div class="footer__address">
                        <div>E Tution Education Center,<br> Kandy Road, Malabe</div>
                        <div>071 543 5607</div>
                        <div>etution@gmail.com</div>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <div><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></div>
                        <div><a href="https://lk.linkedin.com/in/"><i class="fab fa-linkedin"></i></a></div>
                        <div><a href="https://twitter.com/hashtag/"><i class="fab fa-twitter-square"></i></a></div>
                        <div><a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="footer__bottom">All Rights Reserved. E-tution<i class="far fa-copyright"></i> 2021</div>
        </div>
    </div>
</div>
