.waiting-header{
    padding-top: 30px;
    font-size: 3rem;
    color: #666666;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 3px 6px rgba(0, 0, 0, .14);
    .dero{
        color: #FDB415;
    }
}
.waiting-content{
    padding-bottom: 30px;
    color: #666666;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 3px 6px rgba(0, 0, 0, .14);
}